In [69]:
import pandas as pd
import numpy as np

In [70]:
events = pd.read_csv("holidays_events.csv")
oil = pd.read_csv("oil.csv")
stores = pd.read_csv("stores.csv")
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")
transactions = pd.read_csv("transactions.csv")

In [71]:
oil["dcoilwtico"].bfill(inplace=True)
oil.rename(columns={"dcoilwtico": "oil_price"}, inplace=True)

In [72]:
labels = train["sales"]
train = train.drop("sales", axis=1)
train = train.drop("id", axis=1)

In [73]:
train = pd.merge(train, stores, how="inner", on="store_nbr")

In [74]:
train = pd.merge(train, oil, how="left", on="date")

In [75]:
train = pd.merge(train, transactions, how="left", on=["date", "store_nbr"])

In [76]:
train = pd.merge(train, events, how="left", on="date")

In [77]:
train

,date,store_nbr,family,onpromotion,city,state,type_x,cluster,oil_price,transactions,type_y,locale,locale_name,description,transferred
0,2013-01-01,1,AUTOMOTIVE,0,Quito,Pichincha,D,13,93.14,NaN,Holiday,National,Ecuador,Primer dia del ano,False
1,2013-01-01,1,BABY CARE,0,Quito,Pichincha,D,13,93.14,NaN,Holiday,National,Ecuador,Primer dia del ano,False
2,2013-01-01,1,BEAUTY,0,Quito,Pichincha,D,13,93.14,NaN,Holiday,National,Ecuador,Primer dia del ano,False
3,2013-01-01,1,BEVERAGES,0,Quito,Pichincha,D,13,93.14,NaN,Holiday,National,Ecuador,Primer dia del ano,False
4,2013-01-01,1,BOOKS,0,Quito,Pichincha,D,13,93.14,NaN,Holiday,National,Ecuador,Primer dia del ano,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3054343,2017-08-15,9,POULTRY,0,Quito,Pichincha,B,6,47.57,2155.0,Holiday,Local,Riobamba,Fundacion de Riobamba,False
3054344,2017-08-15,9,PREPARED FOODS,1,Quito,Pichincha,B,6,47.57,2155.0,Holiday,Local,Riobamba,Fundacion de Riobamba,False
3054345,2017-08-15,9,PRODUCE,148,Quito,Pichincha,B,6,47.57,2155.0,Holiday,Local,Riobamba,Fundacion de Riobamba,False
3054346,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,8,Quito,Pichincha,B,6,47.57,2155.0,Holiday,Local,Riobamba,Fundacion de Riobamba,False
3054347,2017-08-15,9,SEAFOOD,0,Quito,Pichincha,B,6,47.57,2155.0,Holiday,Local,Riobamba,Fundacion de Riobamba,False